.bgg{
    background:url('https://static.toiimg.com/thumb/msid-99612775,width-1280,height-720,resizemode-4/99612775.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}