*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  overflow-x: hidden;
}
body{
  background:url('https://static.toiimg.com/thumb/msid-99612775,width-1280,height-720,resizemode-4/99612775.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
